<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook">
  <test thread-count="5" parallel="classes" name="ChromeTest">
  <parameter name="browsername" value="chrome"></parameter>
  	<classes>
  		<class name="com.fb.login.TC005"></class>
  		  	
		
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
